/*---------------------------------------------*/
/*BASIC SETUP*/
/*---------------------------------------------*/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'Lato', 'Helvetica', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: 300;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.2rem;
}

section {
  padding: 3rem 0;
}

/*---------------------------------------------*/
/*POPUPS*/
/*---------------------------------------------*/
.popup-animation {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(right, #76b852, #8DC26F);
}

.popup-animation h2 {
  color: #fff;
}

.popup-animation .login-page {
  width: 36rem;
  padding: 4% 0 0;
  margin: auto;
  animation: slideIn 1s linear, fadeIn .3s ease-in;
}
.popup-animation .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 36rem;
  margin: 0 auto 10rem;
  padding: 4.5rem;
  text-align: center;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2), 0 .5rem .5rem 0 rgba(0, 0, 0, 0.24);
}
.popup-animation .form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 1.5rem;
  padding: 1.5rem;
  box-sizing: border-box;
}
.popup-animation .form button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 1.5rem;
  color: #FFFFFF;
  transition: all 0.3s ease;
  cursor: pointer;
}
.popup-animation .form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.popup-animation .form .message {
  margin: 1.5rem 0 0;
  color: #b3b3b3;
  font-size: 1.2rem;
}
.popup-animation .form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.popup-animation .form .register-form {
  display: none;
}
.popup-animation .container {
  position: relative;
  z-index: 1;
  max-width: 30rem;
  margin: 0 auto;
}
.popup-animation .container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.popup-animation .container .info {
  margin: 5rem auto;
  text-align: center;
}
.popup-animation .container .info h1 {
  margin: 0 0 1.5rem;
  padding: 0;
  font-size: 3.6rem;
  font-weight: 300;
  color: #1a1a1a;
}
.popup-animation .container .info span {
  color: #4d4d4d;
  font-size: 1.2rem;
}
.popup-animation .container .info span a {
  color: #000000;
  text-decoration: none;
}
.popup-animation .container .info span .fa {
  color: #EF3B3A;
}

@keyframes slideIn {
  0% {
    transform: translateY(50rem);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-10rem);
    animation-timing-function: ease-in;
  }
  70% {
    transform: translateY(2rem);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

/*---------------------------------------------*/
/*HOVER ANIMATION*/
/*---------------------------------------------*/

/*---------BUTTONS----------*/

.btn:link, .btn:visited, input[type="submit"] {
  display: inline-block;
  padding: 1rem 3rem;
  font-weight: 300;
  text-decoration: none;
  border-radius: 20rem;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link, .btn-full:visited, input[type="submit"] {
  background-color: #e67e22;
  border: 0.1rem solid #e67e22;
  color: #fff;
  margin-right: 1.5rem;
}

.btn-ghost:link, .btn-ghost:visited {
  border: 0.1rem solid #e67e22;
  color: #e67e22;
}

.btn:hover, .btn:active, input[type="submit"]:hover, input[type="submit"]:active {
  background-color: #cf6d17;
  cursor: pointer;
}

.btn-full:hover, .btn-full:active, input[type="submit"]:hover, input[type="submit"]:active {
  border: 0.1rem solid #cf6d17;
}

.btn-ghost:hover, .btn-ghost:active {
  border: 0.1rem solid #cf6d17;
  color: #fff;
}


.section-plans {
  background-color: #f4f4f4;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.plan-box {
  background-color: #fff;
  border-radius: 0.5rem;
  width: 70%;
  margin-left: 15%;
  box-shadow: 0 0.2rem 0.2rem #efefef;
  transition: .5s;
}

.plan-box:hover {
  transform: scale(1.1);
  box-shadow: 0 1.4rem 2.8rem rgba(0,0,0,0.25), 0 1rem 1rem rgba(0,0,0,0.22);
}

.plan-box div {
  padding: 1.5rem;
  border-bottom: 0.1rem solid #e8e8e8;
}

.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.plan-box div:last-child {
  text-align: center;
  border: none;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 1rem;
  font-weight: 100;
  color: #e67e22;
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 0.5rem 0;
}

/*---------------------------------------------*/
/*TEXT ANIMATION*/
/*---------------------------------------------*/

.text-animation .frame {
  position: relative;
  top: 50%;
  left: 50%;
  width: 40rem;
  height: 20rem;
  margin-top: -10rem;
  margin-left: -10rem;
  border-radius: .2rem;
  box-shadow: .1rem .2rem 1rem 0 rgba(0, 0, 0, 0.13);
  overflow: hidden;
  background: #f39c12;
  color: #fff;
}

.text-animation .center {
  position: absolute;
  top: 49.5%;
  left: 0;
  right: 0;
  margin-top: -2.25rem;
}

.text-animation .carousel {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  line-height: 4.5rem;
  height: 4.5rem;
}
.text-animation .carousel .pre {
  position: absolute;
  top: 0;
  right: 56%;
  height: 4.5rem;
  text-shadow: .2rem .2rem .2rem #e67e22;
}
.text-animation .carousel .change_outer {
  position: absolute;
  top: 0;
  left: 46%;
  text-align: left;
  height: 4.5rem;
  overflow: hidden;
}
.text-animation .carousel .change_outer .change_inner {
  position: relative;
  animation: rotate 8s ease-in-out infinite;
}
.text-animation .carousel .change_outer .element {
  display: block;
  font-weight: 700;
  text-shadow: .2rem .2rem .2rem #e67e22;
}

@keyframes rotate {
  0%, 20% {
    transform: translateY(0);
  }
  25%,45% {
    transform: translateY(-4.5rem);
  }
  50%,70% {
    transform: translateY(-9rem);
  }
  75%,95% {
    transform: translateY(-13.5rem);
  }
  100% {
    transform: translateY(-18rem);
  }
}

/*---------------------------------------------*/
/*INFINITE ANIMATION*/
/*---------------------------------------------*/

.sky {
  background: #00d2ff;
  background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
  background: linear-gradient(to right, #928DAB, #00d2ff);
}

.icon {
  font-size: 10rem;
}

.icon-cloud i {
  color: #fff;
}

.icon-cloud.icon-cloud-1 {
  margin-left: -10rem;
  animation: drift 25s linear infinite;
}

.icon-cloud.icon-cloud-2 {
  margin-left: -10rem;
  animation: drift 23s 2s linear infinite;
}

.icon-sun {
  text-align: center;
  animation: spin 10s linear infinite;
}

.icon-sun i {
  color: #f1c40f;
  font-size: 17rem;
}

@keyframes drift {
  from {transform: translateX(-3rem);}
  to {transform: translateX(100vw);}
}

@keyframes spin {
  100% {transform: rotate(1turn);}
}